<!-- NAV - START -->
<div class="m-steps-progress"></div>
<div class="m-steps">
	<a href="index.html">
		<span class="number">1</span>
		<span class="text">Select</span>
	</a>
	<a href="configure.html">
		<span class="number">2</span>
		<span class="text">Configure</span>
	</a>
	<a href="information.html">
		<span class="number">3</span>
		<span class="text">
			<span class="info-big">Information</span>
			<span class="info-small">Info</span>
		</span>
	</a>
	<a href="payment.html">
		<span class="number">4</span>
		<span class="text">Payment</span>
	</a>
	<a href="review.html">
		<span class="number">5</span>
		<span class="text">Review</span>
	</a>	
</div>
<!-- NAV - END -->