<!-- MAIN - CONTENT - START -->
<div class="t-wrp">


    <!-- MAIN - CONTENT - SUBHEADER - START -->
    <div class="t-main-content-subheader">
        <div class="lft">
            <div class="title">
                Invoices
            </div>
            <div class="breadcrumbs">
                Breadcrumbs
            </div>
        </div>
        <div class="rgt">
        </div>
    </div>
    <!-- MAIN - CONTENT - SUBHEADER - END -->


    <!-- MAIN - CONTENT - VIEW - START -->
    <div class="t-main-content-view">
        <div class="t-wrp-scroll-padded">

            <div class="grid">
                <div class="item item-50">
                    <div class="item-content">
                        A
                    </div>
                </div>
                <div class="item item-50">
                    <div class="item-content">
                        B
                    </div>
                </div>
                <div class="item item-100">
                    <div class="item-content">
                        C
                    </div>
                </div>
                <div class="item item-50">
                    <div class="item-content">
                        D
                    </div>
                </div>
                <div class="item item-50">
                    <div class="item-content">
                        E
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- MAIN - CONTENT - VIEW - END -->


</div>  
<!-- MAIN - CONTENT - END -->