// --------------------------------------------------------------------------------
// BASE - ELEMENTS
//---------------------------------------------------------------------------------
*, *:before, *:after {
    box-sizing: inherit;
    text-shadow: none !important;
}

html {
    box-sizing: border-box;
    //box-sizing: content-box;
    
    -webkit-font-smoothing: antialiased; 
    -webkit-tap-highlight-color: $oldcolor-white;
    -webkit-text-size-adjust: none; 
}

html, body {
    background: $template-background;
    color: $template-font-color;

    font-family: $template-font;
//font-size: $font-size; // 14px
    font-weight: $template-font-weight;

    min-height: $fixed-min-height;
    min-width: $fixed-min-width;

    height: 100%;
    width: 100%;

    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;

    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 0;
}

fieldset {
    border: 0;
    padding: 0;
}


label {
    @include font-size(0.875); // 14px

    display: block;
}

input, textarea {
    @include font-size(0.875); // 14px
}

input[type=text], input[type=number], input[type=password], textarea {
    border: 1px solid $template-border-color;
    height: $fixed-input-height;
    margin-bottom: 0;
    outline: none;
    padding: $spacing-3;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid $template-border-color;
    box-shadow: $box-shadow-all-light;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: $oldcolor-gray-100;
}

select {
    display: block;
    height: $fixed-input-height;
    outline: none;
    padding: $spacing-3 $spacing-13;   
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.base-element-ui {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
