// --------------------------------------------------------------------------------
// MODULES - ACTIONS
// --------------------------------------------------------------------------------

// BUTTON LIST
.m-actions-list {
	@include j-cf();
	@extend .base-element-ui;

	list-style-type: none;
	margin: 0; 

}

.m-actions-list-left {
    @extend .base-element-ui;

	li {
		float: left;
		margin-right: $spacing-8;
	}
}

.m-actions-list-right {
    @extend .base-element-ui;

	li {
		float: right;
		margin-left: $spacing-8;
	}
}

.m-actions-list-center {
    @extend .base-element-ui;

	text-align: center;

	li {
		display: inline-block;
		margin-right: $spacing-21;
	}

	li:last-child {
		margin-right: 0;	
	}
}

.m-action-list-with-padding {
	padding: $spacing-13;	
}