// --------------------------------------------------------------------------------
// MODULES - BUTTON
// --------------------------------------------------------------------------------
.m-button {
    @include transition (all $transition-timer-400ms $transition-easeInOutQuad);
    @include font-size(0.8125); // 13px

    border-radius: $spacing-2;
    box-shadow: $box-shadow-right-bottom;
    cursor: pointer;
    display: inline-block;
    padding: 9px $spacing-21;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


// PRIMARY
.m-button-primary {
    background: $template-button-primary;
    color: $template-button-primary-font-color;
}
.m-button-primary:hover {
    background: $template-button-primary-hover;
    color: $template-button-primary-hover-font-color;
}


// NEUTRAL
.m-button-neutral {
    background: $template-button-neutral;
    box-shadow: $box-shadow-right-bottom-light;
    color: $template-button-neutral-font-color;
}
.m-button-neutral:hover {
    background: $template-button-neutral-hover;
    color: $template-button-neutral-hover-font-color;
}


// DISABLED
.m-button.disabled, .m-button[disabled] {
    background: $template-button-disabled;
    box-shadow: $box-shadow-right-bottom-light;
    color: $template-button-disabled-font-color;
}


// TALL BUTTON
.m-button-tall {
    padding: $spacing-13;
    width: 200px;
}

// TALL PLAN BUTTON
.m-button-tall-plan {
    padding: $spacing-13 $spacing-34;
}
