// --------------------------------------------------------------------------------
// MODULES - TABLE - EXPAND
// --------------------------------------------------------------------------------
.m-table-expand {

	@include transition (all 2s ease-in-out);

	.m-table-expand-icon {
		cursor: pointer;
		fill: $oldcolor-blue;
		height: 13px;
		margin-left: 4px;
		margin-top: $spacing-8;
		width: 13px;
	}


	.m-table-expand-icon-contracted {
	  animation: table-contracted 400ms forwards;
	}

	@include keyframes(table-contracted) {
		0%		{ @include transform( rotate(90deg)  ); }
		10%     { @include transform( rotate(90deg) ); }
		20%     { @include transform( rotate(80deg) ); }
		30%     { @include transform( rotate(70deg) ); }
		40%     { @include transform( rotate(60deg) ); }
		50%     { @include transform( rotate(50deg) ); }
		60%     { @include transform( rotate(40deg) ); }
		70%     { @include transform( rotate(30deg) ); }
		80%     { @include transform( rotate(20deg) ); }
		90%     { @include transform( rotate(10deg) ); }
		100%    { @include transform( rotate(0deg) ); }
	}


	.m-table-expand-icon-expanded {
	  animation: table-expand 400ms forwards;
	}

	@include keyframes(table-expand) {
		0%		{ @include transform( rotate(0deg)  ); }
		10%     { @include transform( rotate(10deg) ); }
		20%     { @include transform( rotate(20deg) ); }
		30%     { @include transform( rotate(30deg) ); }
		40%     { @include transform( rotate(40deg) ); }
		50%     { @include transform( rotate(50deg) ); }
		60%     { @include transform( rotate(60deg) ); }
		70%     { @include transform( rotate(70deg) ); }
		80%     { @include transform( rotate(80deg) ); }
		90%     { @include transform( rotate(90deg) ); }
		100%    { @include transform( rotate(90deg) ); }
	}
}


.m-table-row-expand {
	display: none;
}


.m-table-row-expanded-show {
	display: table-row;
}
