// --------------------------------------------------------------------------------
// MODULES - TABLE - MODAL - ACTIONS
// --------------------------------------------------------------------------------
.m-table-modal-actions {
    > .con {
        width: 100px;
    }

    > .con .t-wrp {
        > .bdy {
            @include position(absolute, $top:0, $right:0, $bottom:0, $left:0);

            padding: $spacing-5;

            .m-table-button {
                margin-bottom: $spacing-5;
            }

            .m-table-button:last-child {
                margin-bottom: 0;
            }
        }
    }
}