<!-- MAIN - CONTENT - START -->
<div class="t-wrp">


    <!-- MAIN - CONTENT - SUBHEADER - START -->
    <div class="t-main-content-subheader">
        <div class="lft">
            <div class="title">
                Customers
            </div>
            <div class="breadcrumbs">
                Breadcrumbs
            </div>
        </div>
        <div class="rgt">

            add cust

        </div>
    </div>
    <!-- MAIN - CONTENT - SUBHEADER - END -->


    <!-- MAIN - CONTENT - VIEW - START -->
    <div class="t-main-content-view">
        <div class="t-wrp-scroll-padded">

            <!-- TABLE - START -->
            <div class="m-table">

                <!-- TABLE MODAL PLACEHOLDER -->
                <div id="m-table-modal-placeholder"></div>

                <!-- TABLE - HEADER - START -->
                <div class="m-table-header">
                    <div id="table-header-default" class="default-section">
                        <div class="lft"></div>
                        <div class="rgt"></div>
                    </div>
                </div>

                <!-- TABLE - CONTENT -->
                <table id="customers-table" border="0" cellspacing="0" cellpadding="0"></table>

                <!-- TABLE - FOOTER -->
                <div class="m-table-footer"></div>

            </div>
            <!-- TABLE - END -->

        </div>
    </div>
    <!-- MAIN - CONTENT - VIEW - END -->


</div>  
<!-- MAIN - CONTENT - END -->